div input{
    margin: 10px;
    align-items: center;
    padding: 5px;
   border-radius: 4px;
   cursor: pointer;
}

.subject {
  
width: 30%;
 margin-left: 10px;
   border-radius: 10px;
   background-color: antiquewhite;
   padding-left: 30px;
   margin-left: 30%;
 margin-top: 10px;
 margin-bottom: 10px;
}